@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&family=Satisfy&display=swap');

:root {
  --cinza-escuro: #373F47;
  --cinza-medio: #8B8982;
  --bege-claro: #C4AF9A;
  --preto-suave: #1E1E24;
}

  body {
    height: 100vh;
    background-color: var(--cinza-escuro);
    display: grid;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--bege-claro);
  }
 
  .cabecalho__menu__link {
    font-weight: bold;
    color: var(--bege-claro);
    text-decoration: none;
  }

  .cabecalho__menu__link:hover {
    color: var(--preto-suave);
  }

  .titulo {
    color: var(--cinza-medio);
    font-family: 'Satisfy', sans-serif;
    font-weight: 400;
    font-size: 3rem;
  }

  .container__secao__paragrafo-destaque {
    color: var(--preto-suave);
    font-weight: bold;
  }

  .container__secao__link  {
    border: 0.1rem solid var(--bege-claro);
    border-radius: 1rem;
    color: var(--bege-claro);
  }

  .container__secao__link:hover {
    background-color: var(--preto-suave);
    font-weight: bold;
  }

  .rodape {
    background-color: var(--preto-suave);
    font-weight: bold;
  }
 


  